/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết
 */
/* 
1 vị trí
2. kích thước(with, heigh)
3. Màu sắc
4. Kiểu dáng
 */
html{
    font-family: Arial, Helvetica, sans-serif;
}

#main {

}

.clean{
    clear: both;
}
.text-white{
    color: #fff !important;
}
#header {
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    z-index: 1;
}

#nav{
    display: inline-block;
}

#nav, .subnav{
list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li{
    position: relative;
}

#nav li:hover .subnav{
    display: block;

}

#nav > li > a{
   color: #fff;
   text-transform: uppercase;
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding:  0px 24px;
    display: block;
}

#nav .subnav li:hover a,
#nav > li:hover >a
{
color: black;
background-color: #a47373;
}

#nav .subnav{

    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 160px;
    top: 100%;
    left: 0;
}

#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down{
    font-size:  14px;
}

#header .search-button{
    float: right;
    padding: 0 21px;
    cursor: pointer;
}

/* Search button */
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#header .search-button:hover{
background-color: #f44336;
}

/* Slider fix để không bị header che */
#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/asset/img/slider/chicago.jpg') top center  no-repeat;
    background-size : cover
}

/* căn giữa */
#slider .text-content{
    position: absolute;
    bottom: 48px;
    color: #fff;
    /* left: 50px;
    transform: translateX(-50%); */
    text-align: center;
    width: 100%;
    
}

#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}

#slider .text-desciption{
    font-size: 15px;
    margin-top: 25px;
}

#content {


}

#content .content-section{
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}
#content .section-heading
{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}

#content .section-sub-heading{
    font-size: 15;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6; /*do trong suot*/

}

#content .section-heading,
#content .section-sub-heading
{
    text-align: center;
}

#content .about-text{
    margin-top: 25px;
    font-size: 15px;
    line-height: 1.4;
    text-align: justify;

}

#content .members-list
{
    margin-top: 48px;
}

#content .avatar{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

#content .member-name{
    font-size: 15px;

}

#content .member-item{
    float: left;
    width: calc(100% /3);
    text-align: center;
}
/*Tour section*/
.tour-section{
    background-color: #000;
}

.ticket-list{
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}

.ticket-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.ticket-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.ticket-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    line-height: 25px;
    margin-top: -3px;
}

#footer {

}
